* {
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background: #f4f4f4;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.main_div {
  width: 700px; 
  margin: 0 auto;
}

.top_panel {
  position: relative;
}

.ecowatt {
  height: 100px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

.wifi {
  position: absolute; 
  right: 5px; 
  top: 30px;
}

.wifi:hover,
.wifi:focus {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.wifi_modal_content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #888; */
  /* position: relative; */
  max-width: 340px;
  /* height: 376px; */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main_text {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-bottom: 15px;
}

.general_options {
  display: flex; 
  width: 600px; 
  margin: 0 auto; 
  flex: 1 1 0;
}

.control_panel {
  color: rgba(0,0,0,0.800000011920929);
  font-weight: Bold;
  font-size: 18px;
  flex: 1 1 0; 
}

.serial_number {
  width: 600px;
  color: rgba(0,0,0,0.800000011920929);
  font-weight: Regular;
  font-size: 16px;
}
.main_title {
  width: 600px;
  color: rgba(0,0,0,0.800000011920929);
  top: 181px;
  font-weight: Bold;
  font-size: 36px;
}

.option {
  display: flex;
  flex-direction: row;
}

.block {
  width: 340px;
  min-height: 97px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  margin-bottom: 20px;
}

.block_title {
  display: flex; 
  align-items: center;
  height: 49px;
}

.block_name {
  width: 47px;
  color: rgba(0,0,0,1);
  font-weight: 500;
  font-size: 16px;
  flex: 1 1 0
}
.block_contect {
  border-top: solid;
  border-color: #DCDCE7;
  font-size: 14px;
  flex: 1 1 0; 
  display: flex; 
  align-items: center; 
  padding-left: 8px;
}

.activation_bottom{
  width: 340px;
  height: 50px;
  background: #FFC700;
  border-color: #FFC700;
  border-radius: 8px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.start_stop_charge {
  margin-left:10px; 
  font-family: 'Work Sans'; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 16px;
  line-height: 150%;
}

.name {
  color: #fff;
}

.rectangle {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;         
}

.ecowatt_bottom {
  height: 100px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

.rules {
  height: 100px;
  color: rgba(255, 255, 255, 0.6);
  border-top: solid;
  border-color: #DCDCE7;
  width: 80%; 
  margin: auto; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

@media (max-width: 768px) {
  .main_title {
    width: 100%;
    color: rgba(0,0,0,0.800000011920929);
    top: 181px;
    font-weight: Bold;
    font-size: 32px;
  }

  .wifi {
    right: 20px;
}

  .serial_number {
    width: 100%;
    color: rgba(0,0,0,0.800000011920929);
    font-weight: Regular;
    font-size: 16px;
  }

  .general_options {
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: stretch;
    padding: 0 1.5rem;
  }

  .control_panel {
    padding-bottom: 20px;
}

  .block{
    width: 100%;
  }

  .main_div {
    width: auto; 
    padding: 0 auto;
  }
  
  .activation_bottom {
    width: 100%;
}

  footer {
    height: 0.1rem;         
  }

  .ecowatt_bottom {
    height: 100px;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: left;
    margin-left: 5%;
  }

  .rules {
    height: 100px;
    color: rgba(255, 255, 255, 0.6);
    border-top: solid;
    border-color: #DCDCE7;
    width: 90%;
    margin: auto;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: left;
  }

}


