* {
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  background: #f4f4f4;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.main-div {
  width: 700px; 
  margin: 0 auto;
}

.top-panel {
  position: relative;
}

.ecowatt {
  height: 100px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

.wifi {
  position: absolute; 
  right: 5px; 
  top: 30px;
}

.wifi:hover,
.wifi:focus {
  cursor: pointer;
}

/* The Modals (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-displayed {
  display: block;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888; 
  position: relative;
  max-width: 340px;
  border-radius: 10px;
}

.wifi-scan-botton {
  width: 60px;
  height: 40px;
  background: linear-gradient(90deg, #2962FF 0%, #8D47FF 100%);
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  margin-top: 15px;
}

.wifi-scan-botton:hover,
.wifi-scan-botton:focus {
  background: linear-gradient(90deg, #8D47FF 0%,  #2962FF 100%);
  text-decoration: none;
  cursor: pointer;
}

.wifi-settings {
  font-size: 14px;
}

.allowed-wifi-list {
  padding: 0;
  list-style: none;
}

.wifi-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: #DCDCE7;
}

.wifi-item {
  font-size: 18px;
}

input::placeholder {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.4);
}

.input {
  height: 40px; 
  border: 1px solid #2962FF; 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  padding-left: 10px;
}

.wifi-input {
  width: 100%;
  margin: 15px 0; 
}

.user-input {
  width: 50%;
}

input:focus-visible {
  outline-color: #2962FF;
}

.modal-btn {
  background: none;
  border: none;
  color: #8D47FF;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.clic-pannel {
  display: flex;
  justify-content: space-between;
  color: #8D47FF;
  margin-top: 40px;
}

.charging-settings, .activation-settings, .fingerprint-settings {
    font-size: 14px;
}

.charging-mode, .current-mode, .activation-mode {
  margin-top: 20px;
}

.modal-icon {
  margin-right: 8px;
}

.settings-mode{
  display: flex;
  justify-content: flex-end;
}

.users-name-list {
  margin-top: 12px;
}

#remove-user-button {
  width: 100px;
  height: 30px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #FFC700;
  border-radius: 10px;
  margin: 10px auto;
}

#add-user-button {
  width: 100px;
  height: 30px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFC700;
  border-radius: 10px;
  color: white;
}

/* Modal Content finish */

.balance-power {
  display: flex;
  align-items: center;
}


.current {
  padding: 0 8px 8px 8px;
}

.current-choose {
  height: 40px;
  border: 1px solid #2962FF;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.main-text {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-bottom: 15px;
}

.general-options {
  display: flex; 
  width: 600px; 
  margin: 0 auto; 
  flex: 1 1 0;
}

.control-panel {
  color: rgba(0,0,0,0.800000011920929);
  font-weight: Bold;
  font-size: 18px;
  flex: 1 1 0; 
}

.serial-number {
  width: 600px;
  color: rgba(0,0,0,0.800000011920929);
  font-weight: Regular;
  font-size: 16px;
}
.main-title {
  width: 600px;
  color: rgba(0,0,0,0.800000011920929);
  top: 181px;
  font-weight: Bold;
  font-size: 36px;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.block {
  width: 340px;
  min-height: 97px;
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex; 
  flex-direction: column; 
  margin-bottom: 20px;
}

.block-title {
  display: flex; 
  align-items: center;
  height: 49px;
  border-bottom: solid;
  border-color: #DCDCE7;
}

.block-name {
  width: 47px;
  color: rgba(0,0,0,1);
  font-weight: 500;
  font-size: 16px;
  flex: 1 1 0
}

.block-contect {
  font-size: 14px;
  flex: 1 1 0; 
  display: flex; 
  align-items: center; 
  padding: 8px;
}

.inside-enter-content{
  margin: 0 10px;
}

.hidden-block-fingerprint {
  display: flex;
  justify-content: flex-end;
}

.charging-mode-choose {
  height: 40px; 
  border: 1px solid #2962FF; 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}

.charging-mode-choose, .fingerprint-settings-icon, 
.current-choose, .activation-button,
#remove-user-button, #add-user-button:hover,
.charging-mode-choose, .fingerprint-settings-icon,
.current-choose, .activation-button,
#remove-user-button, #add-user-button:focus {
  text-decoration: none;
  cursor: pointer;
}

.hidden-charging-option {
  display: none;
}

.user-name-title {
  font-size: 12px;
}

.add-user-name {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

.activation-button {
  width: 340px;
  height: 50px;
  background: #FFC700;
  border-color: #FFC700;
  border-radius: 8px;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.start-stop-charge {
  margin-left:10px; 
  font-family: 'Work Sans'; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 16px;
  line-height: 150%;
}

.name {
  color: #fff;
}

.rectangle {
  background-color: rgba(0, 0, 0, 0.8);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;         
}

.ecowatt-bottom {
  height: 100px; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

.rules {
  height: 100px;
  color: rgba(255, 255, 255, 0.6);
  border-top: solid;
  border-color: #DCDCE7;
  width: 80%; 
  margin: auto; 
  display: flex; 
  flex: 1 1 0; 
  align-items: center; 
  justify-content: space-around;
}

@media (max-width: 768px) {
  .main-title {
    width: 100%;
    color: rgba(0,0,0,0.800000011920929);
    top: 181px;
    font-weight: Bold;
    font-size: 24px;
  }

  .wifi {
    right: 20px;
}

  .serial-number {
    width: 100%;
    color: rgba(0,0,0,0.800000011920929);
    font-weight: Regular;
    font-size: 16px;
  }

  .general-options {
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: stretch;
    padding: 0 1.5rem;
  }

  .control-panel {
    padding-bottom: 20px;
}

  .block{
    width: 100%;
  }

  .main-div {
    width: auto; 
    padding: 0 auto;
  }
  
  .activation-button {
    width: 100%;
}

  footer {
    height: 0.1rem;         
  }

  .ecowatt-bottom {
    height: 100px;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: left;
    margin-left: 5%;
  }

  .rules {
    height: 100px;
    color: rgba(255, 255, 255, 0.6);
    border-top: solid;
    border-color: #DCDCE7;
    width: 90%;
    margin: auto;
    display: flex;
    flex: 1 1 0;
    align-items: center;
    justify-content: left;
  }

  .option {
    margin-right: 8px;
  }

}


